.QuoteList {
  display: flex;
  width: 80%;
  height: 80%
}

.QuoteList-sideBar {
  display: flex;
  flex-direction: column;
  background: coral;
  width: 30%;
  /* background: repeating-linear-gradient(
  45deg,
  #0039d650,
  #0039d6 10px,
  #d10000 10px,
  #d10000 20px
); */
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}


.QuoteList-title{
  padding : 10px
}
.QuoteList-title span{
  font-size: 1.2rem;
}
